.input-field{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,0.9fr);
}
.input-field input{
    padding: 10px;
}
.form-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
.form-btns button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #ffdd7e;
    cursor: pointer;
    
}
.input-field select {
    padding: 10px 0px;
    border-radius: 5px;
    width: 76%;
    margin-left: 30px;
}
.form-affilate{
     display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    background-color: burlywood;
    width: 100%;
    margin: 10px;
    height: 500px;
    border-radius: 20px;
}